body{
    margin: 0;
    padding: 0;
}

.top-header{
    width: 100%;
    height: 60px;
    background-color: #EEEEEE;
    position: fixed;
}

.top-header h1{
    font-size: 2rem;
    line-height: 60px;
}

.logout{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.aside-section{
    width: 15%;
    height: 100vh;
    background-color: #DDDDDD;
    position: fixed;
    top: 60px;
    border-right: 2px solid rgb(131, 131, 131);
}

.aside-section a{
    font-size: 1.25rem;
    color: black;
}

.main-section{
    width: 84%;
    min-height: 500px;
    position: absolute;
    left: 16%;
    top: 75px;
}

.profile-container{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.profile-img{
    width: 50%;
}

.profile-img img{
    width: 100%;
    height: 100px;
    border-radius: 50%;
}

